@use "base/variables" as v;

@media (prefers-color-scheme: dark) {
  body {
    background-color: v.$grisOscuro;
  }

  .tagline,
  .form__field,
  .login .links a,
  .register .links a,
  .forgot-password .links a {
    color: v.$white;
  }

  .form input {
    background-color: lighten(v.$grisOscuro, 5%);
  }

  .layout {
    background-color: v.$darkGray;

    &__title {
      color: v.$white;
    }
  }

  .sidebar {
    background-color: v.$darkGray;
  }

  .header {
    background-color: darken(v.$grisOscuro, 5%);

    p {
      color: v.$white;

      span {
        color: v.$white;
      }
    }
  }

  .project__list .project {
    background-color: lighten(v.$grisOscuro, 20%);

    &:hover {
      background-color: lighten(v.$grisOscuro, 13%);
    }
  }

  .filters {
    background-color: lighten(v.$grisOscuro, 10%);

    .filters__value {
      h2,
      label {
        color: v.$white;
      }
    }
  }

  .listado-tareas .tarea {
    background-color: lighten(v.$grisOscuro, 10%);
    border: none;

    p {
      color: v.$grisClaro;
    }
  }

  .modal .form {
    background-color: lighten(v.$grisOscuro, 10%);

    legend {
      color: v.$white;
    }
  }
}
