@use "base/variables" as v;
@use "base/mixins" as m;

.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
  @include m.md {
    flex-direction: column;
    gap: 0.5rem;
  }

  &__link {
    all: unset;
    color: v.$negro;
    font-weight: bold;
    cursor: pointer;

    &--text {
      color: v.$white;
      font-size: 1.6rem;
    }
  }
}
