@use "base/variables" as v;
@use "base/mixins" as m;

.layout {
  &__auth {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5rem 0;
  }

  &__container {
    padding: 2rem;
  }

  &__project {
    background-color: v.$darkGray;
    color: v.$white;

    &--container {
      display: flex;
      min-height: calc(100vh - 6rem);
    }
  }
}
