@use 'base/variables' as v;
@use 'base/mixins' as m;

.filtros {
    background-color: v.$blanco;
    margin-top: 2rem;
    border-radius: 1rem;
    padding: 2rem;

     .filtros-inputs {
        display: flex;
        align-items: center;
        gap: 2rem;

        h2 {
            font-size: 3rem;
            color: v.$indigo;
            margin: 0;
        }

        .campo {
            display: flex;
            align-items: center;
            gap: 1.5rem;

            input[type="radio"] {
                accent-color: v.$indigo;
                width: 2rem;
                height: 2rem;
            }
        }
     }
}