@use "base/variables" as v;
@use "base/mixins" as m;

.projects {
  flex: 1;
  overflow-y: auto;

  &__container {
    min-height: calc(100vh - 6rem);
    padding: 0 2rem;
    @include m.lg {
      padding: 0 4.5rem;
    }
  }
  &__title {
    font-size: 2.5rem;
    margin: 0%;
  }
  &__empty {
    color: v.$blanco;
  }
  &__list {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
    @include m.md {
      grid-template-columns: repeat(2, 1fr);
    }
    @include m.sm {
      grid-template-columns: repeat(2, 1fr);
    }
    @include m.lg {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  &__link {
    background-color: lighten(v.$indigo, 5%);
    color: v.$blanco;
    font-weight: 700;
    display: flex;
    align-items: center;
    min-height: 10rem;
    line-height: 2;
    border-radius: 0.5rem;
    transition: background-color 400ms ease;

    &:hover {
      background-color: darken(v.$indigo, 5%);
    }
    &--content {
      display: block;
      width: 100%;
      height: 100%;
      color: v.$blanco;
      font-weight: 900;
      padding: 1rem;
    }
  }
}
