@use "base/variables" as v;

/** Media Queries **/
@mixin sm {
  @media (max-width: v.$phone) {
    @content;
  }
}
@mixin md {
  @media (max-width: v.$md) {
    @content;
  }
}

@mixin telefono {
  @media (min-width: v.$telefono) {
    @content;
  }
}
@mixin tablet {
  @media (min-width: v.$tablet) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: v.$desktop) {
    @content;
  }
}

@mixin boton($bgColor, $colorTexto) {
  background-color: $bgColor;
  padding: 1.5rem 4rem;
  color: $colorTexto;
  font-size: 1.6rem;
  display: inline-block;
  font-weight: 700;
  border: none;
  transition-property: background-color;
  transition-duration: 0.3s;
  text-align: center;
  display: block;
  width: 100%;
  @include tablet {
    width: auto;
  }
  &:hover {
    background-color: darken($bgColor, 10%);
    cursor: pointer;
  }
}

@mixin button($bgColor, $colorText) {
  background-color: $bgColor;
  color: $colorText;
  display: block;
  margin-top: 2rem;
  border: none;
  border-radius: 0.5rem;
  width: 100%;
  padding: 1.3rem 0;
  text-align: center;
  cursor: pointer;
  font-weight: 700;
  transition-property: background-color;
  transition-duration: 0.3s;

  &:hover {
    background-color: darken($bgColor, 10%);
    cursor: pointer;
  }
}

@mixin grid($colums, $gap) {
  display: grid;
  gap: $gap;
  grid-template-columns: repeat($colums, 1fr);
}

@mixin textGradient($color, $color2: transparent, $direction: to right) {
  background: linear-gradient(
    $direction,
    $color 0%,
    $color2 50%,
    lighten($color, 50%) 100%
  );
  color: transparent;
  background-clip: text;
  text-align: center;
  font-size: clamp(5rem, 12vw, 10rem);
  margin: 0%;
}
