@use 'base/variables' as v;
@use 'base/mixins' as m;

.confirmar {
    .titulo {
        @include m.textoDegradado(v.$indigo);
    }

    .acciones{
        justify-content: center;
        
        a {
            color: v.$indigo;
        }
    }
}