@use "base/variables" as v;
@use "base/mixins" as m;

.forgot-password {
  max-width: 60rem;
  width: 95%;

  .title {
    @include m.textGradient(v.$blue, v.$blue);
  }

  .form__submit {
    background-color: v.$blue;
  }

  .links {
    &__link {
      color: v.$blue;
    }
  }
}
