@use "base/variables" as v;
@use "base/mixins" as m;

.login {
  max-width: 60rem;
  width: 95%;

  .title {
    @include m.textGradient(v.$cyan, lighten(v.$cyan, 30%));
  }

  .form__submit {
    background-color: v.$cyan;
  }

  .links {
    a {
      color: v.$cyan;
    }
  }
}
