@use "base/variables" as v;
@use "base/mixins" as m;

.register {
  max-width: 60rem;
  width: 95%;

  .title {
    @include m.textGradient(v.$indigo, v.$indigo, to right);
    margin-bottom: 0%;
  }

  .form__submit {
    background-color: v.$indigo;
  }

  .links {
    a {
      color: v.$morado;
    }
  }
}
