@use "base/variables" as v;
@use "base/mixins" as m;

.reset-password {
  max-width: 60rem;
  width: 95%;

  .title {
    @include m.textGradient(v.$red, v.$red);
  }

  .form__submit {
    background-color: v.$red;
  }

  .links {
    &__link {
      color: v.$white;

      &--text {
        color: v.$lightGray;
      }
    }
  }
}
