@use "base/variables" as v;
@use "base/mixins" as m;

.reset-password {
  .titulo {
    @include m.textoDegradado(v.$rojo);
  }

  .btn {
    background-color: v.$rojo;
  }

  .acciones {
    display: flex;
    flex-direction: column;
    align-items: center;
    a {
      color: v.$blanco;
    }
  }
}
