@use "base/variables" as v;
@use "base/mixins" as m;

.no-proyectos {
  color: v.$blanco;
}

.listado-proyectos {
  list-style: none;
  padding: 0;
  margin-top: 3rem;
  @include m.grid(3, 2rem);

  .proyecto {
    background-color: lighten(v.$indigo, 5%);
    color: v.$blanco;
    font-weight: 700;
    padding: 1rem;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    min-height: 10rem;
    line-height: 2;
    border-radius: 0.5rem;
    transition: background-color 400ms ease;

    &:hover {
      background-color: darken(v.$indigo, 5%);
    }

    a {
      color: v.$blanco;
      font-weight: 900;
    }
  }
}
