@use "base/variables" as v;
@use "base/mixins" as m;

.sidebar {
  background-color: v.$indigo;
  padding: 2rem;

  &__title {
    font-size: 4rem;
    font-weight: bold;
    color: v.$blanco;
    margin: 0;
    text-align: center;
  }

  .sidebar-nav {
    margin-top: 5rem;

    a {
      color: v.$blanco;
      display: block;
      margin-bottom: 1.5rem;
      padding: 0.7rem;
      transition: background-color 500ms ease;

      &:hover,
      &.activo {
        background-color: darken(v.$indigo, 20%);
        border-radius: 0.5rem;
      }
    }
  }
}
