@use "base/variables" as v;
@use "base/mixins" as m;

.contenedor-nueva-tarea {
  .agregar-tarea {
    @include m.boton(v.$cyan, v.$blanco);
    margin: 0 auto;
  }
}

.list__tasks {
  list-style: none;
  margin-top: 3rem;

  .task {
    padding: 0.5rem 2rem;
    border-bottom: 0.2rem solid darken(v.$grisClaro, 20%);
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:last-of-type {
      border: none;
    }

    &__name {
      font-size: 1.7rem;
    }

    &__empty {
      text-align: center;
      color: v.$blanco;
      font-weight: 700;
    }

    &__options {
      display: flex;
      gap: 1.5rem;
    }

    &__status {
      border: none;
      font-size: 1rem;
      padding: 0.8rem 1rem;
      text-transform: uppercase;
      font-weight: 700;
      border-radius: 1rem;
      cursor: pointer;

      &.completed {
        background-color: v.$azul;
        color: v.$blanco;
      }

      &.pending {
        background-color: v.$naranja;
        color: v.$blanco;
      }
    }

    &__delete {
      border: none;
      font-size: 1rem;
      padding: 0.8rem 1rem;
      text-transform: uppercase;
      font-weight: 700;
      border-radius: 1rem;
      cursor: pointer;
      background-color: v.$rojo;
      color: v.$blanco;
    }
  }
}
